.wrapper {
  .price {
    padding: $spacing-v-md 0;
    .price-number {
      font-size: 70px;
    }
  }
  .title {
    padding: $spacing-v-lg 0;
  }
  .scroll-view {
    bottom: 0;
    top: 430px;
    width: 100%;
    position: absolute;
    &.is-apple-x {
      padding-bottom: 34PX;
    }
  }
  // 今日 本周 本月 list
  .header,
  .list-item {
    .column {
      text-align: center;
      padding: 0 $spacing-h-sm;
    }
    .column:nth-child(1) {
      flex: 1;
    }
    .column:nth-child(2) {
      flex: 0 0 3.5em;
    }
    .column:nth-child(3) {
      flex: 0 0 6.5em;
    }
  }
  .header {
    padding: $spacing-v-lg 0;
  }
  .list-item {
    min-height: 3em;
    padding: $spacing-v-sm 0;
    .column:nth-child(1) {
      text-align: left;
    }
  }
  // 累计 list
  .cumulative-list {
    padding: 50px $spacing-h-lg 0;
    .total {
      padding: $spacing-v-xs 0 $spacing-v-md;
    }
    .item {
      padding: $spacing-v-lg 0;
    }
  }
}