.wrapper {
  height: 100vh;
  position: relative;
  .goods-card {
    padding: $spacing-v-lg $spacing-h-lg;
    .goods-index {
      width: 2em;
    }
    .goods-image {
      width: 180px;
      height: 180px;
      position: relative;
      margin: 0 $spacing-h-sm;
      image {
        width: 100%;
        height: 100%;
      }
      .goods-from {
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 $spacing-h-sm;
        background-color: rgba(255, 125, 0, .5);
      }
    }
    .goods-desc {
      align-self: flex-start;
      .goods-name {
        height: 2.8em;
        margin-bottom: $spacing-v-sm;
      }
    }
  }
  .goods-card + .goods-card {
    @include border-thin($color-grey-5, solid, top, 1px);
  }
  .scroll-view {
    top: 111px;
    width: 100%;
    bottom: 100px;
    position: absolute;
    &.is-apple-x {
      bottom: calc(100px + 34PX);
    }
  }
}