.wrapper {
  .remarks {
    padding: $spacing-v-md $spacing-h-lg;
  }
  .scroll-view {
    width: 100%;
    bottom: 100px;
    position: absolute;
    top: calc(24px + 30PX);
    &.is-apple-x {
      padding-bottom: 34PX;  
    }
    &.no-action {
      bottom: 0;
    }
  }
  .remarks + .scroll-view {
    top: calc(24px + 30PX + 70px);
  }
  .footer-action {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    position: fixed;
    padding: 0 $spacing-h-lg;
    &.is-apple-x {
      padding-bottom: 34PX;
    }
    .check-box {
      margin-right: $spacing-h-sm;
    }
  }
}