.wrapper {
  padding-bottom: 110px;
  &.is-apple-x {
    padding-bottom: calc(34PX + 110px);
  }
  .at-tabs {
    .at-tabs__item-underline {
      left: 30%;
      width: 40%;
      height: 5px;
      margin-bottom: $spacing-v-sm;
    }
  }
  .swiper {
    width: 100%;
    height: 550px;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .divider {
    width: 70%;
    margin: 0 auto;
  }
  .goods-header {
    background: #FEB692;
    padding: $spacing-v-md $spacing-h-lg;
    background-image: linear-gradient( 90deg, #FEB692 10%, #EA5455 100%);
    .goods-now-price,
    .goods-old-price {
      &::before {
        content: '￥';
        font-weight: normal;
        font-size: $font-size-base;
      }
      &::after {
        content: '';
        font-size: 70px;
      }
    }
    .goods-now-price {
      font-size: 70px;
      margin-right: $spacing-h-sm;
    }
    .goods-activity-time {
      border-radius: 999px;
      margin-top: $spacing-v-sm;
      padding: $spacing-v-xs $spacing-h-xl;
      .at-countdown__time-box,
      .at-countdown__separator {
        color: $color-error;
        font-family: sans-serif;
      }
    }
  }
  .goods-title {
    padding: $spacing-v-md $spacing-h-lg;
    .goods-concern {
      padding: $spacing-v-md 0;
      .concern {
        margin-left: $spacing-h-lg;
        padding-left: $spacing-h-lg;
      }
    }
    .goods-sale {
      padding: $spacing-v-md 0 0;
    }
  }
  .goods-infos {
    padding: $spacing-v-sm $spacing-h-lg $spacing-v-lg;
    .goods-infos-table {
      width: 100%;
      display: table;
      border-collapse: collapse;
      .row {
        display: table-row;
      }
      .cell {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        @include border-thin($color-grey-5);
        padding: $spacing-v-lg $spacing-h-lg;
      }
    }
    .goods-infos-texts {
      > view {
        padding: $spacing-v-xs 0;
      }
    }
    .goods-infos-image {
      > image {
        width: 100%;
        display: block;
      }
    }
  }
  .goods-guide {
    .goods-guide-title {
      padding: $spacing-v-lg 0;
    }
    .goods-guide-content {
      padding: $spacing-v-xl * 2 $spacing-h-lg $spacing-v-xl;
      .at-timeline-item {
        padding-bottom: $spacing-v-lg;
        .at-timeline-item__dot {
          .icon-dot {
            line-height: 1.4;
            transform: scale(2);
            font-size: $font-size-base;
          }
        }
        .at-timeline-item__content--sub {
          line-height: 1.4;
          color: $color-grey-2;
          margin-top: $spacing-v-xs;
        }
      }
    }
  }
  .goods-action {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    &.is-apple-x {
      padding-bottom: 34PX;
    }
    .goods-action-icon-btn {
      width: 21%;
      @include border-thin($color-grey-5, solid, top, 1px);
    }
    .goods-action-text-btn {
      height: 110px;
      line-height: 110px;
      color: $color-white;
      font-size: $font-size-lg;
    }
  }
}