.wrapper {
  .list {
    padding: 0 $spacing-h-lg;
    .list-item:nth-child(1) {
      padding: $spacing-v-md 0;
    }
    .list-item:nth-child(2) {
      padding: $spacing-v-lg 0 $spacing-v-md;
    }
  }
  .list + .list {
    @include border-thin($color-grey-5, solid, top, 16px);
  }
  .scroll-view {
    top: 95px;
    width: 100%;
    bottom: 128px;
    position: absolute;
    &.is-apple-x {
      padding-bottom: 34PX;
    }
  }
  .footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: $spacing-v-md $spacing-h-lg;
    &.is-apple-x {
      border-bottom: 34PX solid $color-white;
    }
  }
}