@import "~taro-ui/dist/style/index.scss";

// 设置全局样式
page {
  line-height: 1.4286;
  color: $color-text-base;
  font-size: $font-size-base;
  background-color: $color-bg-base;
}

.iconfont {
  font-size: $font-size-base;
}

.clear-lh {
  line-height: 1;
}

.flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
  &-fill {
    flex: 1;
  }
  &-v-center {
    align-items: center;
  }
  &-h-center {
    justify-content: center;
  }
  &-h-between {
    justify-content: space-between;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.font {
  &-xs {
    font-size: $font-size-xs;
  }
  &-sm {
    font-size: $font-size-sm;
  }
  &-lg {
    font-size: $font-size-lg;
  }
  &-xl {
    font-size: $font-size-xl;
  }
  &-xxl {
    font-size: $font-size-xxl;
  }
  &-base {
    font-size: $font-size-base;
  }
  &-bold {
    font-weight: bold;
  }
}

.color {
  &-white {
    color: white;
  }
  &-error {
    color: $color-error !important;
  }
  &-info {
    color: $color-info !important;
  }
  &-warning {
    color: $color-warning !important;
  }
  &-success {
    color: $color-success !important;
  }
  &-brand-dark {
    color: $color-brand-dark !important;
  }
  &-brand-light {
    color: $color-brand-light !important;
  }
  &-placeholder {
    color: $color-text-placeholder !important;
  }
  &-black-0 {
    color: $color-black-0 !important;
  }
  &-black-1 {
    color: $color-black-1 !important;
  }
  &-black-2 {
    color: $color-black-2 !important;
  }
  &-black-3 {
    color: $color-black-3 !important;
  }
  &-grey-1 {
    color: $color-grey-1 !important;
  }
  &-grey-2 {
    color: $color-grey-2 !important;
  }
  &-grey-3 {
    color: $color-grey-3 !important;
  }
  &-grey-4 {
    color: $color-grey-4 !important;
  }
  &-grey-5 {
    color: $color-grey-5 !important;
  }
  &-grey-6 {
    color: $color-grey-6 !important;
  }
}

.bg {
  &-white {
    background-color: white;
  }
  &-error {
    background-color: $color-error !important;
  }
}

.border {
  &-bottom-1px {
    @include border-thin($color-grey-5, solid, bottom, 1px);
  }
  &-bottom-base {
    @include border-thin($color-grey-5, solid, bottom, 16px);
  }
}

.radius {
  &-sm {
    border-radius: $border-radius-sm;
  }
  &-md {
    border-radius: $border-radius-md;
  }
  &-lg {
    border-radius: $border-radius-lg;
  }
}
