.order-card {
  .desc,
  .header,
  .footer {
    padding: $spacing-v-md $spacing-h-lg;
  }
  .header {
    .check-box {
      margin-right: $spacing-h-sm;
    }
    .order-code {
      margin-left: $spacing-h-sm;
    }
  }
  .images {
    padding: $spacing-v-xl $spacing-h-lg;
    &::after {
      clear: both;
      content: '';
      display: table;
    }
    view, image {
      float: right;
      width: 86.5px;
      line-height: 86.5px;
    }
    image {
      float: left;
      height: 86.5px;
    }
    view  + view,
    image + view,
    image + image {
      margin-left: $spacing-h-md;
    }
  }
  .footer {
    .username {
      margin-bottom: $spacing-v-sm;
    }
  }
}