.wrapper {
  .user-info,
  .order-info,
  .menus-group,
  .user-location {
    padding: $spacing-v-sm $spacing-h-lg;
  }
  .user-info {
    .avatar {
      margin-right: $spacing-h-xl;
      image {
        width:  120px;
        height: 120px;
        border-radius: 50%;
      }
    }
    .autograph {
      margin: 0;
      padding: 0;
      .iconfont {
        padding: 0;
      }
      .at-input {
        &__input {
          flex: none;
          padding: 0;
          width: 16em;
          font-size: $font-size-xs;
        }
        &__children::after {
          display: none;
        }
      }
    }
  }
  .order-info {
    .show-ranking {
      height: 50px;
      display: block;
      line-height: 48px;
    }
  }
  .order-manage {
    .title {
      padding: $spacing-v-sm $spacing-h-lg;
    }
    .menus {
      padding: $spacing-v-md 0;
      .icon {
        font-size: 75px;
      }
    }
  }
  .menus-group {
    padding: 0 $spacing-h-lg;
    .menu {
      width: 33.3333333%;
      flex: 0 0 33.3333333%;
      padding: $spacing-v-xl 0;
      .icon {
        font-size: 75px;
      }
      .label {
        padding: $spacing-v-md 0 $spacing-v-xs;
      }
    }
  }
  .weapp {
    padding: 80px 0;
    image {
      width: 300px;
      height: 300px;
      padding-bottom: $spacing-v-lg;
    }
  }
  .footer {
    overflow: hidden;
    .logout {
      width: 75%;
      height: 80px;
      line-height: 78px;
      margin-bottom: 50px;
      // @include border-thin($color-error);
    }
  }
}