.wrapper {
  overflow: hidden;
  .box {
    width: 480px;
    margin: 150px auto;
    box-shadow: $box-shadow;
    padding: $spacing-v-lg 0;
    border-radius: $border-radius-lg;
    .icon {
      font-size: 120px;
      margin-bottom: $spacing-v-md;
    }
    .title {
      margin-bottom: $spacing-v-xs;
    }
  }
}