.wrapper {
  .scroll-view {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    &.is-apple-x {
      padding-bottom: 34PX;
    }
  }
  .list {
    padding: $spacing-v-md $spacing-h-lg;
    .list-row + .list-row {
      margin-top: $spacing-v-xs;
    }
  }
}