.wrapper {
  height: 100vh;
  position: relative;
  .title {
    padding: $spacing-v-lg $spacing-h-lg;
  }
  .list-item {
    padding: $spacing-v-lg $spacing-h-lg;
    .index {
      width: 2em;
    }
    .store {
      margin-left: $spacing-h-lg;
      .store-name {
        margin-bottom: $spacing-v-sm;
      }
      .store-desc:nth-child(3) {
        margin-right: $spacing-h-lg;
      }
    }
  }
  .list-item + .list-item {
    @include border-thin($color-grey-5, solid, top, 1px);
  }
  .scroll-view {
    bottom: 0;
    top: 446px;
    width: 100%;
    position: absolute;
    &.is-apple-x {
      padding-bottom: 34PX;
    }
  }
}